<%= form_for @user do |f| %>
  <div class=" pb-2 mb-3 pt-3">
    <div class="btn-toolbar mb-2 mb-md-0">
      <%= link_to users_path, class: "btn btn-secondary mr-3" do %>
        <i class="fa fa-arrow-left"></i> Back
      <% end %>

      <%= button_tag( :class => "btn btn-primary") do %>
        <i class="fa fa-save"></i> Save
      <% end %>
    </div>
  </div>

  <% if @user.errors.any? %>
    <div class="alert alert-danger"><% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %></div>
  <% end %>

  <div class="form-group row">
    <%= f.label :email, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :name, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :confirm_password, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :role, class: "col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= f.select :role, User.roles.collect { |r| [r.first.humanize, r.first] },
                   { include_blank: 'Select role' }, class: "form-control" %>
    </div>
  </div>
<% end %>
