<div class=" pb-2 mb-3 pt-3">
  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to new_user_path, class: "btn btn-success" do %>
      <i class="fa fa-plus"></i> New User
    <% end %>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <th><%= link_to user.name, user %></th>
      <td><%= user.email %></td>
      <td><%= user.role&.humanize %></td>
      <td>
        <%= link_to "Edit", edit_user_path(user) %>
        <%= link_to "Delete", user, method: :delete, data: {:confirm => "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>